.j-proyects-area{
    background-color: black;
    padding: 6rem 0 4rem 0;
}

.j-proyect-title{
    color: #F1D335;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-bottom: 4rem;
}